@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic; }

html {
  font-family: "Poppins", sans-serif;
  font-size: 24px; }

a, a:hover, a:link, a:visited, a:focus {
  text-decoration: none; }

button:focus {
  outline: 0; }

.black-btn {
  background-color: #000;
  color: #fff; }

.modal-title {
  font-family: "Poppins", sans-serif; }

.font-size-small {
  font-size: 14px; }

.color-light-brown {
  background-color: #434343; }

.color-dark-brown {
  background-color: #363636; }

button.close:hover {
  background-color: #d58e32; }

.text-bolding {
  font-weight: 900; }

.navbar {
  height: 54px; }

.underline:hover {
  border-bottom: 1px solid #fff; }

.close > span {
  position: relative;
  top: -22px; }

button.close {
  width: 40px;
  height: 40px;
  background-color: #000;
  opacity: 100%; }

.modal-header {
  border-bottom: none; }

.modal-footer {
  border-top: none; }

.col-form-label {
  display: block; }

.form-control {
  border-radius: 0; }

.modal-btn-close {
  background-color: #000;
  opacity: 100%;
  width: 115px;
  height: 42px;
  padding: 0;
  font-size: 15px; }

.subnav {
  height: 145px; }
  .subnav__cart {
    width: 45px;
    height: 43px;
    background-color: #d58e32;
    border-radius: 5px; }
  .subnav__cart-image {
    width: 20px;
    height: 18px;
    position: relative;
    top: 8px; }
  .subnav__cart-circle {
    width: 26px;
    height: 25px;
    border-radius: 50%;
    background-color: #363636;
    position: relative;
    left: 25px;
    bottom: 17px; }
  .subnav__cart-counter {
    position: relative;
    left: 6px;
    bottom: 9px;
    font-size: 16px; }

.modal-body__border {
  border: 1px solid #cecece;
  border-radius: 5px;
  margin: 10px; }

.modal-body__image {
  width: 185px; }

.modal-body__quantity {
  width: 167px;
  height: 17px;
  border: 5px solid #000;
  background: #000; }

.navbar-toggler {
  border: none; }

.top-search__form {
  border: 1px solid gray;
  width: 319px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative; }

.top-search__input {
  width: 319px;
  height: 47px;
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 20px; }

.top-search__button {
  position: absolute;
  background-color: transparent;
  border: none;
  left: 275px; }

.top-menu__item:hover {
  background-color: #d58e32;
  color: #fff;
  border-top: 3px solid #000; }

.carousel-advert {
  position: relative;
  top: 300px;
  background-color: rgba(28, 28, 28, 0.6);
  font-weight: 200;
  line-height: 1; }
  .carousel-advert__p1 {
    font-size: 52.8px; }
    .carousel-advert__p1--bold {
      font-weight: 700; }
  .carousel-advert__link {
    position: relative;
    bottom: -23px;
    background-color: #fff;
    border-radius: 2px;
    padding: 15px;
    font-size: 13px;
    font-weight: 700; }

.carousel-control-button {
  position: relative;
  width: 50%;
  background-color: #2a2a2a;
  opacity: 100%;
  height: 35px; }

.carousel-control-button:hover {
  background-color: #d58e32; }

.feature__block {
  border: 1px solid #676767;
  width: 262px;
  height: 120px;
  margin: 60px 0;
  margin-right: 20px;
  position: relative; }
  .feature__block:nth-last-child(-n+1) {
    margin-right: 0; }
  .feature__block_dcircle {
    position: absolute;
    top: -30px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #676767;
    height: 58px;
    width: 58px;
    border-radius: 50%;
    background-color: #fff; }
  .feature__block_circle {
    border: 1px solid #676767;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .feature__block-article {
    font-weight: 700;
    font-size: 20px; }
  .feature__block-article-desc {
    font-size: 18px; }
  .feature__block:hover p {
    color: rgba(213, 142, 50, 0.7); }
  .feature__block:hover .feature__block_dcircle {
    border: 1px solid #d58e32; }
  .feature__block:hover .feature__block_circle {
    border: 1px solid #d58e32;
    color: #fff;
    background-color: #d58e32; }
