@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic; }

main.container .modal-content {
  border-radius: 0; }
  main.container .modal-content button.close {
    top: 0;
    right: 0; }
    main.container .modal-content button.close span {
      color: white;
      top: -3px;
      outline: none; }
    main.container .modal-content button.close:focus {
      outline: 0; }

main.container .container__stocks {
  display: flex; }
  main.container .container__stocks a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    main.container .container__stocks a .container__stocks__stock-description {
      display: flex;
      flex-direction: column; }
      main.container .container__stocks a .container__stocks__stock-description .container__stocks__stock-description-text {
        text-transform: uppercase; }
  main.container .container__stocks .container__stocks-large .container__stocks__stock.stock-1 {
    background-image: url(../img/stocks/1.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    main.container .container__stocks .container__stocks-large .container__stocks__stock.stock-1 .container__stocks__stock-description {
      background-color: rgba(42, 42, 42, 0.4);
      color: white;
      width: 100%;
      height: 354px;
      margin: 0 33px;
      border: 20px solid transparent;
      justify-content: flex-end;
      align-items: flex-start; }
      main.container .container__stocks .container__stocks-large .container__stocks__stock.stock-1 .container__stocks__stock-description .container__stocks__stock-description-text.item-1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1; }
      main.container .container__stocks .container__stocks-large .container__stocks__stock.stock-1 .container__stocks__stock-description .container__stocks__stock-description-text.item-2 {
        font-size: 48px;
        font-weight: 800; }
      main.container .container__stocks .container__stocks-large .container__stocks__stock.stock-1 .container__stocks__stock-description .container__stocks__stock-description-text.item-3 {
        font-size: 48px;
        font-weight: 400;
        line-height: 1;
        padding: 15px;
        border: 4px solid #ffffff; }
  main.container .container__stocks .container__stocks-small {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-2 {
      background-color: #e8edf7;
      background-image: url(../img/stocks/2.png), url(../img/stocks/3.png);
      background-size: auto 140%, auto 103%;
      background-repeat: no-repeat, no-repeat;
      background-position: left center, right center;
      justify-content: center; }
      main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-2 .container__stocks__stock-description {
        text-align: left; }
        main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-2 .container__stocks__stock-description .item-1 {
          color: black;
          font-weight: 300;
          font-size: 28.8px;
          line-height: 1; }
        main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-2 .container__stocks__stock-description .item-2 {
          color: black;
          font-weight: 400;
          font-size: 16.8px; }
        main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-2 .container__stocks__stock-description .item-3 {
          color: #d58e32;
          font-weight: 600;
          font-size: 36px; }
    main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-3 {
      background-color: #fbf3f7;
      background-image: url(../img/stocks/4.png);
      background-size: auto 115%;
      background-repeat: no-repeat;
      background-position: left center;
      justify-content: flex-end; }
      main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-3 .container__stocks__stock-description {
        text-align: right;
        border: 25px solid transparent; }
        main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-3 .container__stocks__stock-description .item-1 {
          color: #d58e32;
          font-weight: 300;
          font-size: 22.8px; }
        main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-3 .container__stocks__stock-description .item-2 {
          color: black;
          font-weight: 300;
          font-size: 16.8px; }

main.container .container__products .container__products-furniture .container__products-furniture__item-inner_image-container__cart-supply,
main.container .container__products .container__products-furniture .product_overview-description__cta-cart-supply {
  padding: 10px 11px 11px 8px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500; }

main.container .container__products .container__products-furniture .button-like,
main.container .container__products .container__products-furniture .button-exchange {
  font-size: 0.5em;
  width: 35px;
  height: 35px;
  border: 1px solid black;
  background: white; }

main.container .container__products .container__products-furniture .container__products-title {
  padding: 22px 0;
  margin: 0 0 30px 0;
  font-size: 19.2px;
  border-bottom: 1px solid black;
  color: #2a2a2a; }

main.container .container__products .container__products-furniture .container__products-furniture__item {
  margin: 0 0 30px 0; }
  main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner {
    width: 262px;
    height: 410px;
    border: 1px solid #e2e2e2; }
    main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner_image-container {
      background-color: #f4f5f7;
      overflow: hidden; }
      main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner_image-container img.container__products-furniture__item-inner__image {
        width: 100%;
        height: 260px;
        object-fit: contain; }
      main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner_image-container .container__products-furniture__item-inner_image-container__cart-overview,
      main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner_image-container .container__products-furniture__item-inner_image-container__cart-supply {
        border: none;
        bottom: -40px;
        height: 37px;
        line-height: 1;
        color: white;
        background-color: #2a2a2a;
        transition: 0.09s ease;
        cursor: pointer; }
        main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner_image-container .container__products-furniture__item-inner_image-container__cart-overview:focus,
        main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner_image-container .container__products-furniture__item-inner_image-container__cart-supply:focus {
          text-transform: none;
          border: none; }
      main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner_image-container .container__products-furniture__item-inner_image-container__cart-overview {
        left: 10px;
        padding: 13px 8px 11px 8px;
        font-size: 10.8px; }
      main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner_image-container .container__products-furniture__item-inner_image-container__cart-supply {
        right: 10px; }
      main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner_image-container .container__products-furniture__item-inner_image-container__cart-mark {
        top: -25px;
        left: 105px;
        width: 43px;
        height: 21px;
        border-radius: 0 0 50% 50%;
        text-align: center;
        padding: 4px 9px 7px;
        color: white;
        background-color: #2a2a2a;
        font-size: 9.36px;
        transition: 0.09s ease; }
    main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner__descr {
      padding: 16px 11px 12px 11px; }
      main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner__descr .container__products-furniture__item-inner__item-name {
        font-size: 14.4px;
        font-weight: 500;
        color: #2a2a2a;
        margin: 0 0 11px 0;
        transition: 0.06s ease; }
      main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner__descr .container__products-furniture__item-inner__item-rating {
        font-size: 0.5em;
        padding: 0 0 21px 0;
        margin: 0 0 18px 0;
        border-bottom: 1px solid black; }
        main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner__descr .container__products-furniture__item-inner__item-rating::after {
          content: "";
          display: block;
          position: absolute;
          width: 30px;
          bottom: -2px;
          left: 101px;
          border-bottom: 4px solid #d58e32; }
      main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner .container__products-furniture__item-inner__descr .container__products-furniture__item-inner__item-footer .container__products-furniture__item-inner__item-footer__price {
        padding: 10px;
        max-height: 37px;
        line-height: 1;
        background-color: #2a2a2a;
        color: white;
        font-size: 15.6px;
        font-weight: 500; }
    main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner:hover .container__products-furniture__item-inner__item-name {
      color: #d58e32; }
    main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner:hover .container__products-furniture__item-inner__item-footer > .container__products-furniture__item-inner__item-footer__price {
      background-color: #d58e32; }
    main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner:hover .container__products-furniture__item-inner_image-container__cart-supply,
    main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner:hover .container__products-furniture__item-inner_image-container__cart-overview {
      bottom: 0; }
    main.container .container__products .container__products-furniture .container__products-furniture__item .container__products-furniture__item-inner:hover .container__products-furniture__item-inner_image-container__cart-mark {
      top: -4px; }

main.container .container__products .container__products-furniture #product_overview_window .product_overview-image {
  background-color: #f4f5f7; }
  main.container .container__products .container__products-furniture #product_overview_window .product_overview-image img {
    width: 100%;
    object-fit: contain; }

main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description-title {
  font-size: 19.2px;
  font-weight: 500;
  margin: 0 0 17px 0; }

main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description__item-rating {
  font-size: 0.5em;
  padding: 0 0 17px 0;
  border-bottom: 1px solid #e2e2e2; }
  main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description__item-rating .product_overview-description__item-reviews {
    margin: 0 0 0 12px;
    color: #676767;
    font-size: 0.8em;
    font-weight: 500; }

main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description-price {
  margin-top: 22px;
  padding-bottom: 22px;
  line-height: 1;
  font-size: 15.12px;
  font-weight: 500;
  border-bottom: 1px solid #e2e2e2; }
  main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description-price .product_overview-description-price__new {
    padding: 9px;
    background-color: #2a2a2a;
    color: white;
    height: 36px; }
  main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description-price .product_overview-description-price__old {
    padding: 9px 13px 9px 0;
    color: #939393;
    text-decoration: line-through;
    height: 36px; }

main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description__cta {
  margin-top: 21px; }
  main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description__cta .product_overview-description__cta-cart-supply {
    border: none;
    color: white;
    background-color: #d58e32;
    height: 37px; }

main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description__overview {
  margin-top: 21px; }
  main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description__overview .product_overview-description__overview-title {
    font-size: 13.92px;
    font-weight: 500;
    color: #2a2a2a;
    margin: 0 0 14px 0; }
  main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description__overview .product_overview-description__overview-text {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: #676767; }

main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description__imho {
  margin-top: 24px; }
  main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description__imho .product_overview-description__imho-smth {
    width: 145px; }
    main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description__imho .product_overview-description__imho-smth .product_overview-description__imho-smth-title {
      font-size: 13.92px;
      font-weight: 500;
      color: #2a2a2a; }
    main.container .container__products .container__products-furniture #product_overview_window .product_overview-description .product_overview-description__imho .product_overview-description__imho-smth .product_overview-description__imho-smth-status {
      font-size: 11.52px;
      font-weight: 400;
      color: #676767; }

main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share {
  margin-top: 27px; }
  main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share button {
    padding: 12px 14px;
    margin-top: 18px;
    margin-right: 6px;
    min-width: 85px;
    border-style: none;
    border: 1px solid black;
    font-size: 11.52px;
    font-weight: 400;
    color: #676767;
    background-color: white; }
    main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share button .fa-facebook-f {
      color: #3b5998; }
    main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share button .fa-google-plus-g {
      color: #e1665c; }
    main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share button .fa-twitter {
      color: #4099ff; }
    main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share button .fa-pinterest-p {
      color: #c92228; }
    main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share button .fa-linkedin-in {
      color: #0077b5; }
    main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share button:hover {
      color: white; }
      main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share button:hover i {
        color: white; }
      main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share button:hover.product_overview__social-networks__share-facebook {
        background-color: #3b5998;
        border-color: #3b5998; }
      main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share button:hover.product_overview__social-networks__share-google {
        background-color: #e1665c;
        border-color: #e1665c; }
      main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share button:hover.product_overview__social-networks__share-tweeter {
        background-color: #4099ff;
        border-color: #4099ff; }
      main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share button:hover.product_overview__social-networks__share-pinterest {
        background-color: #c92228;
        border-color: #c92228; }
      main.container .container__products .container__products-furniture #product_overview_window .product_overview__social-networks__share button:hover.product_overview__social-networks__share-linkedin {
        background-color: #0077b5;
        border-color: #0077b5; }

main.container .container__products .container__products-filter__mobile {
  padding: 9px 10px;
  top: 11px;
  right: 15px;
  cursor: pointer;
  border: 1px solid #676767;
  background: none;
  font-size: 14.4px;
  color: #2a2a2a; }

main.container .container__products .container__products-filter .container__products-filter-blocks ul.unstyled, main.container .container__products #filters_window .container__products-filter-blocks ul.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none; }

main.container .container__products .container__products-filter .container__products-filter-blocks ul .styled-checkbox, main.container .container__products #filters_window .container__products-filter-blocks ul .styled-checkbox {
  position: absolute;
  opacity: 0; }
  main.container .container__products .container__products-filter .container__products-filter-blocks ul .styled-checkbox + label, main.container .container__products #filters_window .container__products-filter-blocks ul .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0; }

main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter-title, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter-title {
  padding: 14px 0;
  margin: 0 0 30px 0;
  font-size: 16.8px;
  border-bottom: 1px solid black;
  color: #2a2a2a;
  text-transform: uppercase; }

main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories {
  width: 100%;
  margin-bottom: 10px; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14.4px; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label::after {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    background: #2a2a2a; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="categories-checkbox-1"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="categories-checkbox-1"]::after {
    content: '1'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="categories-checkbox-2"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="categories-checkbox-2"]::after {
    content: '2'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="categories-checkbox-3"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="categories-checkbox-3"]::after {
    content: '3'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="categories-checkbox-4"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="categories-checkbox-4"]::after {
    content: '4'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="categories-checkbox-5"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="categories-checkbox-5"]::after {
    content: '5'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="modal-categories-checkbox-1"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="modal-categories-checkbox-1"]::after {
    content: '1'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="modal-categories-checkbox-2"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="modal-categories-checkbox-2"]::after {
    content: '2'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="modal-categories-checkbox-3"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="modal-categories-checkbox-3"]::after {
    content: '3'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="modal-categories-checkbox-4"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="modal-categories-checkbox-4"]::after {
    content: '4'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="modal-categories-checkbox-5"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox + label[for="modal-categories-checkbox-5"]::after {
    content: '5'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox:hover + label, main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox:checked + label, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox:hover + label, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox:checked + label {
    color: #d58e32; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox:hover + label::after, main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__categories .styled-checkbox:checked + label::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox:hover + label::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories .styled-checkbox:checked + label::after {
    background: #d58e32; }

main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__price, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__price {
  width: 100%;
  margin-bottom: 10px; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__price .ui-slider-horizontal, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__price .ui-slider-horizontal {
    height: 8px; }
    main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__price .ui-slider-horizontal .ui-widget-header, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__price .ui-slider-horizontal .ui-widget-header {
      background: #2a2a2a; }
    main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__price .ui-slider-horizontal .ui-slider-handle, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__price .ui-slider-horizontal .ui-slider-handle {
      width: 20px;
      height: 20px;
      border: 3px solid #d58e32;
      border-radius: 50%; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__price .container__products-filter__price-filter, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__price .container__products-filter__price-filter {
    margin-top: 24px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }
    main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__price .container__products-filter__price-filter input, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__price .container__products-filter__price-filter input {
      display: block;
      text-align: center;
      font-size: 14.4px;
      height: 32px; }
      main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__price .container__products-filter__price-filter input[type="text"], main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__price .container__products-filter__price-filter input[type="text"] {
        width: 114px;
        border: 1px solid #e2e2e2;
        color: #676767; }
      main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__price .container__products-filter__price-filter input[type="button"], main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__price .container__products-filter__price-filter input[type="button"] {
        width: 65px;
        background: #d58e32;
        color: white;
        border-style: unset; }

main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color {
  width: 100%;
  margin-bottom: 10px; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 14.4px; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label::before {
    content: "";
    display: flex;
    font-size: 9.6px;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    color: white;
    background: #2a2a2a;
    margin: 0 10px 0 0; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="categories-checkbox-red"]::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="categories-checkbox-red"]::before {
    background: #fa5f66; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="categories-checkbox-black"]::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="categories-checkbox-black"]::before {
    background: #454545; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="categories-checkbox-yellow"]::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="categories-checkbox-yellow"]::before {
    background: #e9e600; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="categories-checkbox-blue"]::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="categories-checkbox-blue"]::before {
    background: #0190d3; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="categories-checkbox-pink"]::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="categories-checkbox-pink"]::before {
    background: #f72fe4; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="categories-checkbox-green"]::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="categories-checkbox-green"]::before {
    background: #14d400; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="modal-categories-checkbox-red"]::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="modal-categories-checkbox-red"]::before {
    background: #fa5f66; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="modal-categories-checkbox-black"]::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="modal-categories-checkbox-black"]::before {
    background: #454545; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="modal-categories-checkbox-yellow"]::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="modal-categories-checkbox-yellow"]::before {
    background: #e9e600; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="modal-categories-checkbox-blue"]::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="modal-categories-checkbox-blue"]::before {
    background: #0190d3; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="modal-categories-checkbox-pink"]::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="modal-categories-checkbox-pink"]::before {
    background: #f72fe4; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="modal-categories-checkbox-green"]::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox + label[for="modal-categories-checkbox-green"]::before {
    background: #14d400; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox:hover + label, main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox:checked + label, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox:hover + label, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox:checked + label {
    color: #d58e32; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox:hover + label::before, main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox:checked + label::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox:hover + label::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color .container__products-filter__color-filter .styled-checkbox:checked + label::before {
    content: '\2713'; }

main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size {
  width: 100%;
  margin-bottom: 10px; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 14.4px;
    text-transform: uppercase; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label::after {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    background: #2a2a2a;
    margin-left: auto; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label::before {
    content: "";
    display: flex;
    font-size: 9.6px;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    color: white;
    background: #2a2a2a;
    margin: 0 10px 0 0; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="categories-checkbox-s"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="categories-checkbox-s"]::after {
    content: '1'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="categories-checkbox-m"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="categories-checkbox-m"]::after {
    content: '2'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="categories-checkbox-l"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="categories-checkbox-l"]::after {
    content: '3'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="categories-checkbox-xl"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="categories-checkbox-xl"]::after {
    content: '4'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="categories-checkbox-xx"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="categories-checkbox-xx"]::after {
    content: '5'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="modal-categories-checkbox-s"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="modal-categories-checkbox-s"]::after {
    content: '1'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="modal-categories-checkbox-m"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="modal-categories-checkbox-m"]::after {
    content: '2'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="modal-categories-checkbox-l"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="modal-categories-checkbox-l"]::after {
    content: '3'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="modal-categories-checkbox-xl"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="modal-categories-checkbox-xl"]::after {
    content: '4'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="modal-categories-checkbox-xx"]::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox + label[for="modal-categories-checkbox-xx"]::after {
    content: '5'; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox:hover + label, main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox:checked + label, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox:hover + label, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox:checked + label {
    color: #d58e32; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox:hover + label::after, main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox:checked + label::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox:hover + label::after, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox:checked + label::after {
    background: #d58e32; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox:hover + label::before, main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__size .styled-checkbox:checked + label::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox:hover + label::before, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size .styled-checkbox:checked + label::before {
    content: '\2713'; }

main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__tags .container__products-filter__tags-filter ul, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__tags .container__products-filter__tags-filter ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__tags .container__products-filter__tags-filter ul .styled-checkbox + label, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__tags .container__products-filter__tags-filter ul .styled-checkbox + label {
    padding: 11px;
    margin-right: 16px;
    margin-bottom: 12px;
    color: #676767;
    font-size: 12px;
    border: 1px solid #676767; }
    main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__tags .container__products-filter__tags-filter ul .styled-checkbox + label i, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__tags .container__products-filter__tags-filter ul .styled-checkbox + label i {
      margin-right: 9px; }
  main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__tags .container__products-filter__tags-filter ul .styled-checkbox:hover + label, main.container .container__products .container__products-filter .container__products-filter-blocks .container__products-filter__tags .container__products-filter__tags-filter ul .styled-checkbox:checked + label, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__tags .container__products-filter__tags-filter ul .styled-checkbox:hover + label, main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__tags .container__products-filter__tags-filter ul .styled-checkbox:checked + label {
    color: #d58e32;
    border-color: #d58e32; }

main.container .container__products .container__products__load-more {
  margin: auto;
  padding: 5px 12.6px;
  background-color: #e2e2e2;
  box-shadow: 0 5px 8px 3px #939393;
  font-size: 31.2px;
  border-radius: 50%;
  cursor: pointer; }

main.container .container__blog .container__blog-title {
  padding: 12px 0;
  margin: 0 0 30px 0;
  color: #d58e32;
  font-size: 18px;
  border-bottom: 3px solid #e2e2e2; }
  main.container .container__blog .container__blog-title::after {
    content: "";
    display: block;
    position: absolute;
    width: 44px;
    bottom: -3px;
    left: 0;
    border-bottom: 3px solid #d58e32; }

main.container .container__blog .container__blog-carousel .carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: #d58e32;
  transition: background-color; }

main.container .container__blog .container__blog-carousel .carousel-inner .carousel-item .card {
  border-radius: unset; }
  main.container .container__blog .container__blog-carousel .carousel-inner .carousel-item .card .card-img-top {
    border-radius: unset;
    height: 290px;
    object-fit: cover; }
  main.container .container__blog .container__blog-carousel .carousel-inner .carousel-item .card .card-img-overlay {
    height: 300px; }
    main.container .container__blog .container__blog-carousel .carousel-inner .carousel-item .card .card-img-overlay .card-text {
      font-size: 12px;
      background-color: #ffffff; }
      main.container .container__blog .container__blog-carousel .carousel-inner .carousel-item .card .card-img-overlay .card-text div:nth-of-child(1) {
        text-align: left; }
      main.container .container__blog .container__blog-carousel .carousel-inner .carousel-item .card .card-img-overlay .card-text div:nth-of-child(2) {
        text-align: right; }
  main.container .container__blog .container__blog-carousel .carousel-inner .carousel-item .card .card-body .card-title {
    font-size: 14.4px;
    color: #2a2a2a;
    font-weight: 500;
    transition: color 0.15s ease-in-out; }
  main.container .container__blog .container__blog-carousel .carousel-inner .carousel-item .card .card-body .card-text {
    font-size: 12px;
    color: #676767;
    font-weight: 400; }
  main.container .container__blog .container__blog-carousel .carousel-inner .carousel-item .card .card-body .btn.btn-primary {
    color: #ffffff;
    font-weight: 500;
    font-size: 14.4px;
    background-color: #2a2a2a;
    cursor: pointer;
    z-index: 1030; }
  main.container .container__blog .container__blog-carousel .carousel-inner .carousel-item .card:hover > .card-body .card-title {
    color: #d58e32; }
  main.container .container__blog .container__blog-carousel .carousel-inner .carousel-item .card:hover > .card-body .btn.btn-primary {
    background-color: #d58e32; }

main.container .container__blog .container__blog-carousel .carousel-control-prev, main.container .container__blog .container__blog-carousel .carousel-control-next {
  width: 30px;
  height: 30px;
  opacity: 1;
  border: 1px solid black;
  background-color: white;
  top: -40px; }

main.container .container__blog .container__blog-carousel-controls {
  top: -47px;
  right: 0;
  background: white; }
  main.container .container__blog .container__blog-carousel-controls button {
    margin-left: 6px;
    width: 30px;
    height: 30px;
    color: black;
    border: 1px solid black;
    background-color: white; }
    main.container .container__blog .container__blog-carousel-controls button:hover {
      color: white;
      border: 1px solid transparent;
      background-color: #d58e32; }

main.container .container__blog .container__blog-carousel-controls__large {
  top: -38px;
  right: 0;
  background: white;
  list-style: none;
  padding-left: 12px; }
  main.container .container__blog .container__blog-carousel-controls__large .container__blog-carousel-controls__to-slide {
    display: block;
    border: none;
    z-index: 1020;
    cursor: pointer;
    margin-left: 12px;
    width: 13px;
    height: 13px;
    background: #e2e2e2;
    border-radius: 100%; }
    main.container .container__blog .container__blog-carousel-controls__large .container__blog-carousel-controls__to-slide:hover {
      background: #d58e32; }
    main.container .container__blog .container__blog-carousel-controls__large .container__blog-carousel-controls__to-slide.active {
      background: #d58e32; }

.newsletter {
  background: #f2f2f2;
  height: 119px; }
  .newsletter .newsletter-row {
    margin: 0; }
    .newsletter .newsletter-row .newsletter-title {
      font-size: 18px;
      font-weight: 500;
      color: #d58e32; }
    .newsletter .newsletter-row form .form-group .newsletter-form-input {
      height: 46px;
      font-size: 12px; }
      .newsletter .newsletter-row form .form-group .newsletter-form-input:focus {
        box-shadow: none; }
    .newsletter .newsletter-row form .form-group .newsletter-form-label {
      left: 0; }
      .newsletter .newsletter-row form .form-group .newsletter-form-label .newsletter-form-label__content {
        font-size: 12px;
        z-index: 1010;
        transition: opacity .06s;
        color: #b4b4b4; }
        .newsletter .newsletter-row form .form-group .newsletter-form-label .newsletter-form-label__content .fa-envelope {
          color: #d58e32; }
    .newsletter .newsletter-row form .form-group .btn.btn-light {
      height: 46px;
      width: 46px;
      color: #d58e32;
      font-size: 12px;
      background-color: #ffffff; }

footer {
  background: #363636; }
  footer .container {
    padding-top: 16px; }
    footer .container .footer__section-title {
      color: white;
      font-size: 18px;
      font-weight: 500;
      margin: 45px 0 35px 0; }
    footer .container ul {
      color: #a9a9a9;
      padding: 0;
      margin: 0; }
      footer .container ul .footer__section-item {
        font-size: 12px;
        list-style: none;
        margin: 0 0 10px 0; }
    footer .container .footer__payment-options {
      padding: 29px 0 56px 0; }
      footer .container .footer__payment-options img {
        width: 40px;
        margin-right: 10px;
        margin-bottom: 14px; }

.copyright__info {
  padding: 41px 0;
  color: #a9a9a9;
  background: #2a2a2a;
  font-size: 12px; }
  .copyright__info .copyright__info-inner .copyright__info-inner-socials i {
    padding: 0 12px; }
    .copyright__info .copyright__info-inner .copyright__info-inner-socials i:hover {
      color: #d58e32; }

@media screen and (min-width: 1200px) {
  main.container .container__stocks {
    margin-bottom: 60px;
    flex-direction: row; }
    main.container .container__stocks .container__stocks-large {
      width: 50%;
      margin-right: 30px; }
      main.container .container__stocks .container__stocks-large .container__stocks__stock.stock-1 {
        height: 420px; }
    main.container .container__stocks .container__stocks-small {
      height: 420px;
      width: 50%; }
      main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-2, main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-3 {
        height: 195px; }
      main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-2 {
        background-position: -10% 65%, 103% 50%; }
      main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-3 {
        background-position: -20% 50%; }
  main.container #product_overview_window .modal-dialog .modal-content .product_overview-description .product_overview-description__overview {
    padding-bottom: 21px;
    border-bottom: 1px solid #e2e2e2; }
  main.container #product_overview_window .modal-dialog .modal-content .product_overview-description .product_overview-description__imho {
    flex-direction: column;
    padding-bottom: 18px;
    border-bottom: 1px solid #e2e2e2; }
  main.container .container__products .container__products-filter__mobile {
    display: none; }
  main.container .container__products .container__products-filter .container__products-filter-blocks {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap; }
  .newsletter .newsletter-row {
    margin: 0 195px; }
  .copyright__info .copyright__info-inner {
    justify-content: center; }
    .copyright__info .copyright__info-inner .copyright__info-inner-socials {
      position: absolute;
      right: 0; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  main.container .container__stocks {
    flex-direction: column;
    margin-bottom: 37px; }
    main.container .container__stocks .container__stocks-large {
      margin-bottom: 30px; }
      main.container .container__stocks .container__stocks-large .container__stocks__stock.stock-1 {
        height: 420px; }
    main.container .container__stocks .container__stocks-small {
      height: 420px; }
      main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-2, main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-3 {
        height: 195px; }
  main.container .modal-dialog {
    max-width: 751px; }
  main.container #product_overview_window .product_overview__header {
    padding-bottom: 21px;
    border-bottom: 1px solid #e2e2e2; }
    main.container #product_overview_window .product_overview__header .product_overview-image {
      max-height: 286px; }
    main.container #product_overview_window .product_overview__header .product_overview-description .product_overview-description__imho {
      flex-direction: row;
      justify-content: flex-start;
      padding-bottom: 0;
      border: none; }
      main.container #product_overview_window .product_overview__header .product_overview-description .product_overview-description__imho .product_overview-description__imho-smth {
        margin-right: 12px; }
  main.container #product_overview_window .product_overview__footer .product_overview__social-networks__share {
    justify-content: center;
    flex-wrap: wrap; }
  main.container .container__products .container__products-filter__mobile {
    display: block; }
  main.container .container__products .container__products-filter {
    display: none; }
  main.container .container__products #filters_window .container__products-filter-blocks {
    padding: 33px 33px 25px 33px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly; }
    main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories,
    main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__price,
    main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color,
    main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size,
    main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__tags {
      width: 240px; }
  .copyright__info .copyright__info-inner {
    justify-content: space-between; }
    .copyright__info .copyright__info-inner .copyright__info-inner-socials {
      position: relative; } }

@media screen and (max-width: 767px) {
  main.container .container__stocks {
    margin-bottom: 57px;
    flex-direction: column; }
    main.container .container__stocks .container__stocks-large {
      display: none; }
    main.container .container__stocks .container__stocks-small {
      height: 300px; }
      main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-2, main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-3 {
        height: 134px; }
      main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-3 .container__stocks__stock-description {
        border: 34px solid transparent; }
        main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-3 .container__stocks__stock-description .item-1 {
          font-size: 19.2px; }
        main.container .container__stocks .container__stocks-small .container__stocks__stock.stock-3 .container__stocks__stock-description .item-2 {
          font-size: 14.4px; }
  main.container .container__blog .container__blog-carousel-controls {
    top: -47px;
    right: 0;
    background: white; }
    main.container .container__blog .container__blog-carousel-controls button {
      margin-left: 6px;
      width: 30px;
      height: 30px;
      color: black;
      border: 1px solid black;
      background-color: white; }
      main.container .container__blog .container__blog-carousel-controls button:hover {
        color: white;
        border: 1px solid transparent;
        background-color: #d58e32; }
  main.container .modal-dialog {
    max-width: 421px;
    margin: auto; }
  main.container #product_overview_window .product_overview__header {
    padding-bottom: 21px;
    border-bottom: 1px solid #e2e2e2; }
    main.container #product_overview_window .product_overview__header .product_overview-description {
      margin-top: 22px; }
      main.container #product_overview_window .product_overview__header .product_overview-description .product_overview-description__imho {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;
        border: none; }
        main.container #product_overview_window .product_overview__header .product_overview-description .product_overview-description__imho .product_overview-description__imho-smth {
          margin-right: 12px; }
  main.container #product_overview_window .product_overview__footer .product_overview__social-networks__share {
    justify-content: center;
    flex-wrap: wrap; }
    main.container #product_overview_window .product_overview__footer .product_overview__social-networks__share button:nth-of-child(3) {
      flex-basis: 100%; }
  main.container .container__products .container__products-filter__mobile {
    display: block; }
  main.container .container__products .container__products-filter {
    display: none; }
  main.container .container__products #filters_window .container__products-filter-blocks {
    padding: 52px 0 33px 0;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__categories,
    main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__price,
    main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__color,
    main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__size,
    main.container .container__products #filters_window .container__products-filter-blocks .container__products-filter__tags {
      width: 230px; }
  footer .container {
    padding-left: 50px;
    padding-right: 50px; }
  .copyright__info .copyright__info-inner {
    flex-direction: column;
    align-items: center; }
    .copyright__info .copyright__info-inner .copyright__info-inner-socials {
      position: relative;
      margin-top: 20px; } }
