@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../css/fonts/Poppins/Poppins-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic; }
