// $font-stack: 'Lato', sans-serif;
$font-stack: 'Poppins', sans-serif;
$font-size: 24px;

//header
$color-light-brown: #434343;
$color-dark-brown: #363636;
$font-size-small: 14px;


$color-grey-dark: #2a2a2a;
$color-grey-light: #676767;
$color-grey-lighter: #939393;
$color-grey-thin: #e2e2e2;
$color-gold: #d58e32;
$color-white-milk: #f4f5f7;
$color-overlay: rgba($color: #1c1c1c, $alpha: 0.6);





$stock-large-height: 420px;