@import 'variables';
@import 'fonts.scss';

html {
  font-family: $font-stack;
  font-size: $font-size;
  //color: $font-color-grey;
}

a, a:hover, a:link, a:visited, a:focus {
  text-decoration: none;
}
button {
  &:focus {
    outline: 0;
  }
}

.black-btn {
  background-color: #000;
  color: #fff;
}

.modal-title {
  font-family: $font-stack;
}
.font-size-small {
  font-size: $font-size-small;
}
.color-light-brown {
  background-color: $color-light-brown;
}
.color-dark-brown {
  background-color: $color-dark-brown;
}
button.close:hover {
  background-color: $color-gold;
}

.text-bolding {
  font-weight: 900;
}

.navbar {
  height: 54px;
}

.underline:hover {
  border-bottom: 1px solid #fff;
}

.close > span {
  position: relative;
  top: -22px;
}

button.close {
  width: 40px;
  height: 40px;
  background-color: #000;
  opacity: 100%;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.col-form-label {
  display: block;
}

.form-control {
  border-radius: 0;
}

.modal-btn-close {
  background-color: #000;
  opacity: 100%;
  width: 115px;
  height: 42px;
  padding: 0;
  font-size: 15px;
}

.subnav{
  height: 145px;
    &__cart{
      width: 45px;
      height: 43px;
      background-color: $color-gold;
      border-radius: 5px;
    }
    &__cart-image {
      width: 20px;
      height: 18px;
      position: relative;
      top: 8px;
    }
    &__cart-circle {
      width: 26px;
      height: 25px;
      border-radius: 50%;
      background-color: $color-dark-brown;
      position: relative;
      left: 25px;
      bottom: 17px;
    }
    &__cart-counter {
      position: relative;
      left: 6px;
      bottom: 9px;
      font-size: 16px;
    }
}

.modal-body {
  &__border {
    border: 1px solid #cecece;
    border-radius: 5px;
    margin: 10px;
  }
  &__image{
    width: 185px;
  }
  &__quantity {
    width: 167px;
    height: 17px;
    border: 5px solid #000;
    background: #000;
  }
}

.navbar-toggler {
  border:none;
}

.top-search {
  &__form {
    border: 1px solid gray;
    width: 319px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    }
  &__input  {
    width: 319px;
    height: 47px;
    border: none;
    font-size: 10pt;
    float: left;
    padding-left: 20px;
  }
  &__button {
    position: absolute;
    background-color: transparent;
    border: none;
    left:275px;
  }
  }


.top-menu {


&__item:hover {
  background-color: $color-gold;
  color: #fff;
  border-top: 3px solid #000;

    }
}

.carousel {
  &-advert {
    position: relative;
    top: 300px;
    background-color: $color-overlay;
    font-weight: 200;
    line-height: 1;
          &__p1 {
        font-size: $font-size*2.2;
          &--bold {
            font-weight: 700;
  }
  }
    &__link {
      position: relative;
      bottom: -23px;
      background-color: #fff;
      border-radius: 2px;
      padding: 15px;
      font-size: 13px;
      font-weight: 700;
    }
  }
  &-control-button {
    position: relative;
    width: 50%;
    background-color: $color-grey-dark;
    opacity: 100%;
    height: 35px;
  }
  &-control-button:hover {
    background-color: $color-gold;
  }
}

.feature__block {
  border: 1px solid $color-grey-light;
  width: 262px;
  height: 120px;
  margin: 60px 0;
  margin-right: 20px;
  position: relative;
  &:nth-last-child(-n+1) {
    margin-right: 0;
  }
  &_dcircle {
    position: absolute;
    top: -30px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-grey-light;
    height: 58px;
    width: 58px;
    border-radius: 50%;
    background-color: #fff;
  }
    &_circle {
      border: 1px solid $color-grey-light;
      height: 48px;
      width: 48px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  &-article {
    font-weight: 700;
    font-size: 20px;
  }
  &-article-desc {
    font-size: 18px;
  }
  &:hover p{
    color: rgba(213, 142, 50, 0.7);
  }
  &:hover  .feature__block_dcircle {
    border: 1px solid $color-gold;
  }
  &:hover .feature__block_circle {
    border: 1px solid $color-gold;
    color: #fff;
    background-color: $color-gold;
  }
}






