@import 'variables';
@import 'fonts.scss';

main.container {
    .modal-content {
        border-radius: 0;
        button.close {
            top: 0;
            right: 0;
            span {
                color: white;
                top: -3px;
                outline: none;
            }
            &:focus {
                outline: 0;
            }
        }
    }
    .container__stocks {
        display: flex;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .container__stocks__stock-description {
                display: flex;
                flex-direction: column;
                .container__stocks__stock-description-text {
                    text-transform: uppercase;
                }
            }
        }
        .container__stocks-large {
            .container__stocks__stock {
                &.stock-1 {
                    background-image: url(../img/stocks/1.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    .container__stocks__stock-description {
                        background-color: rgba($color: #2a2a2a, $alpha: 0.4);
                        color: rgba($color: #ffffff, $alpha: 1.0);
                        width: 100%;
                        height: $stock-large-height - 66px;
                        margin: 0 33px;
                        border: 20px solid transparent;
                        justify-content: flex-end;
                        align-items: flex-start;
                        .container__stocks__stock-description-text {
                            &.item-1 {
                                font-size: $font-size * 1.5;
                                font-weight: 700;
                                line-height: 1;
                            }
                            &.item-2 {
                                font-size: $font-size * 2;
                                font-weight: 800;
                            }
                            &.item-3 {
                                font-size: $font-size * 2;
                                font-weight: 400;
                                line-height: 1;
                                padding: 15px;
                                border: 4px solid #ffffff;
                            }
                        }
                    }
                }
            }
        }
        .container__stocks-small {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .container__stocks__stock {
                &.stock-2 {
                    background-color: #e8edf7;
                    background-image: url(../img/stocks/2.png), url(../img/stocks/3.png);
                    background-size: auto 140%, auto 103%;
                    background-repeat: no-repeat, no-repeat;
                    background-position: left center, right center;
                    // background-position: -10% 65%, 103% 50%;
                    justify-content: center;
                    .container__stocks__stock-description {
                        text-align: left;
                        .item-1 {
                            color: rgba(0, 0, 0, 1);
                            font-weight: 300;
                            font-size: $font-size * 1.2;
                            line-height: 1;
                        }
                        .item-2 {
                            color: rgba(0, 0, 0, 1);
                            font-weight: 400;
                            font-size: $font-size * 0.7;
                        }
                        .item-3 {
                            color: rgba(213, 142, 50, 1);
                            font-weight: 600;
                            font-size: $font-size * 1.5;
                        }
                    }
                }
                &.stock-3 {
                    background-color: #fbf3f7;
                    background-image: url(../img/stocks/4.png);
                    background-size: auto 115%;
                    background-repeat: no-repeat;
                    background-position: left center;
                    // background-position: -20% 50%;
                    justify-content: flex-end;
                    .container__stocks__stock-description {
                        text-align: right;
                        border: 25px solid transparent;
                        .item-1 {
                            color: rgba(213, 142, 50, 1);
                            font-weight: 300;
                            font-size: $font-size * 0.95;
                        }
                        .item-2 {
                            color: rgba(0, 0, 0, 1);
                            font-weight: 300;
                            font-size: $font-size * 0.7;
                        }
                    }
                }
            }
        }
    }
    .container__products {
        .container__products-furniture {
            .container__products-furniture__item-inner_image-container__cart-supply,
            .product_overview-description__cta-cart-supply { 
                padding: 10px 11px 11px 8px;
                text-transform: uppercase;
                font-size: $font-size * 0.5;
                font-weight: 500;
            }
            .button-like,
            .button-exchange {
                font-size: 0.5em;
                width: 35px;
                height: 35px;
                border: 1px solid black;
                background: white;
            }
            .container__products-title {
                padding: 22px 0;
                margin: 0 0 30px 0;
                font-size: $font-size * 0.8;
                border-bottom: 1px solid black;
                color: $color-grey-dark;
            }
            .container__products-furniture__item {
                margin: 0 0 30px 0;
                .container__products-furniture__item-inner {
                    width: 262px;
                    height: 410px;
                    border: 1px solid $color-grey-thin;
                    .container__products-furniture__item-inner_image-container {
                        background-color: $color-white-milk;
                        overflow: hidden;
                        img.container__products-furniture__item-inner__image {
                            width: 100%;
                            height: 260px;
                            object-fit: contain;
                        }
                        .container__products-furniture__item-inner_image-container__cart-overview,
                        .container__products-furniture__item-inner_image-container__cart-supply {
                            border: none;
                            bottom: -40px;
                            height: 37px;
                            line-height: 1;
                            color: white;
                            background-color: $color-grey-dark;
                            transition: 0.09s ease;
                            cursor: pointer;
                            &:focus {
                                text-transform: none;
                                border: none;
                            }
                        }
                        .container__products-furniture__item-inner_image-container__cart-overview {
                            left: 10px;
                            padding: 13px 8px 11px 8px;
                            font-size: $font-size * 0.45;
                        }
                        .container__products-furniture__item-inner_image-container__cart-supply {
                            right: 10px;
                        }
                        .container__products-furniture__item-inner_image-container__cart-mark {
                            top: -25px;
                            left: 105px;
                            width: 43px;
                            height: 21px;
                            border-radius: 0 0 50% 50%;
                            text-align: center;
                            padding: 4px 9px 7px;
                            color: white;
                            background-color: $color-grey-dark;
                            font-size: $font-size * 0.39;
                            transition: 0.09s ease;
                        }
                    }
                    .container__products-furniture__item-inner__descr {
                        padding: 16px 11px 12px 11px;
                        .container__products-furniture__item-inner__item-name {
                            font-size: $font-size * 0.6;
                            font-weight: 500;
                            color: $color-grey-dark;
                            margin: 0 0 11px 0;
                            transition: 0.06s ease;
                        }
                        .container__products-furniture__item-inner__item-rating {
                            font-size: 0.5em;
                            padding: 0 0 21px 0;
                            margin: 0 0 18px 0;
                            border-bottom: 1px solid black;
                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                width: 30px;
                                bottom: -2px;
                                left: 101px;
                                border-bottom: 4px solid $color-gold;
                            }
                        }
                        .container__products-furniture__item-inner__item-footer {
                            .container__products-furniture__item-inner__item-footer__price {
                                padding: 10px;
                                max-height: 37px;
                                line-height: 1;
                                background-color: $color-grey-dark;
                                color: white;
                                font-size: $font-size * 0.65;
                                font-weight: 500;
                            }
                        }
                    }
                    &:hover {
                        & .container__products-furniture__item-inner__item-name {
                            color: $color-gold;
                        }
                        & .container__products-furniture__item-inner__item-footer>.container__products-furniture__item-inner__item-footer__price {
                            background-color: $color-gold;
                        }
                        & .container__products-furniture__item-inner_image-container__cart-supply, 
                        .container__products-furniture__item-inner_image-container__cart-overview {
                            bottom: 0;
                        }
                        & .container__products-furniture__item-inner_image-container__cart-mark {
                            top: -4px;
                        }
                    }  
                }
            }
            #product_overview_window {
                .product_overview-image {
                    background-color: $color-white-milk;
                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
                .product_overview-description {
                    .product_overview-description-title {
                        font-size: $font-size * 0.8;
                        font-weight: 500;
                        margin: 0 0 17px 0;
                    }
                    .product_overview-description__item-rating {
                        font-size: 0.5em;
                        padding: 0 0 17px 0;
                        border-bottom: 1px solid $color-grey-thin;
                        .product_overview-description__item-reviews {
                            margin: 0 0 0 12px;
                            color: $color-grey-light;
                            font-size: 0.8em;
                            font-weight: 500;
                        }
                    }
                    .product_overview-description-price {
                        margin-top: 22px;
                        padding-bottom: 22px;
                        line-height: 1;
                        font-size: $font-size * 0.63;
                        font-weight: 500;
                        border-bottom: 1px solid $color-grey-thin;
                        .product_overview-description-price__new {
                            padding: 9px;
                            background-color: $color-grey-dark;
                            color: white;
                            height: 36px;
                        }
                        .product_overview-description-price__old {
                            padding: 9px 13px 9px 0;
                            color: $color-grey-lighter;
                            text-decoration: line-through;
                            height: 36px;
                        }
                    }
                    .product_overview-description__cta {
                        margin-top: 21px;
                        .product_overview-description__cta-cart-supply {
                            border: none;
                            color: white;
                            background-color: $color-gold;
                            height: 37px;
                        }
                    }
                    .product_overview-description__overview {
                        margin-top: 21px;
                        .product_overview-description__overview-title {
                            font-size: $font-size * 0.58;
                            font-weight: 500;
                            color: $color-grey-dark;
                            margin: 0 0 14px 0;
                        }
                        .product_overview-description__overview-text {
                            margin: 0;
                            font-size: $font-size * 0.5;
                            font-weight: 400;
                            color: $color-grey-light;

                        }
                    }
                    .product_overview-description__imho {
                        margin-top: 24px;
                        .product_overview-description__imho-smth {
                            width: 145px;
                            .product_overview-description__imho-smth-title {
                                font-size: $font-size * 0.58;
                                font-weight: 500;
                                color: $color-grey-dark;
                            }
                            .product_overview-description__imho-smth-status {
                                font-size: $font-size * 0.48;
                                font-weight: 400;
                                color: $color-grey-light;
                            }
                        }
                    }
                }
                .product_overview__social-networks__share {
                    margin-top: 27px;
                    button {
                        padding: 12px 14px;
                        margin-top: 18px;
                        margin-right: 6px;
                        min-width: 85px;
                        border-style: none;
                        border: 1px solid black;
                        font-size: $font-size * 0.48;
                        font-weight: 400;
                        color: $color-grey-light;
                        background-color: white;
                        .fa-facebook-f {
                            color: #3b5998;
                        }
                        .fa-google-plus-g {
                            color: #e1665c;
                        }
                        .fa-twitter {
                            color: #4099ff;
                        }
                        .fa-pinterest-p {
                            color: #c92228;
                        }
                        .fa-linkedin-in {
                            color: #0077b5;
                        }
                        &:hover {
                            color: white;
                            i {
                                color: white;
                            }
                            &.product_overview__social-networks__share-facebook {
                                background-color: #3b5998;
                                border-color: #3b5998;
                            }
                            &.product_overview__social-networks__share-google {
                                background-color: #e1665c;
                                border-color: #e1665c;
                            }
                            &.product_overview__social-networks__share-tweeter {
                                background-color: #4099ff;
                                border-color: #4099ff;
                            }
                            &.product_overview__social-networks__share-pinterest {
                                background-color: #c92228;
                                border-color: #c92228;
                            }
                            &.product_overview__social-networks__share-linkedin {
                                background-color: #0077b5;
                                border-color: #0077b5;
                            }
                        }
                    }
                }
            }
        }
        .container__products-filter__mobile {
            padding: 9px 10px;
            top: 11px;
            right: 15px;
            cursor: pointer;
            border: 1px solid $color-grey-light;
            background: none;
            font-size: $font-size * 0.6;
            color: $color-grey-dark;
        }
        .container__products-filter, #filters_window {
            .container__products-filter-blocks {
                ul {
                    &.unstyled {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                    }
                    .styled-checkbox {
                        position: absolute;
                        opacity: 0;
                        & + label {
                            position: relative;
                            cursor: pointer;
                            padding: 0;
                          }
                    }
                }
                .container__products-filter-title {
                    padding: 14px 0;
                    margin: 0 0 30px 0;
                    font-size: $font-size * 0.7;
                    border-bottom: 1px solid black;
                    color: $color-grey-dark;
                    text-transform: uppercase;
                }
                
                .container__products-filter__categories {
                    width: 100%;
                    margin-bottom: 10px;
                    .styled-checkbox {
                        & + label {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            font-size: $font-size * 0.6;

                        }
                        & + label::after {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            color: white;
                            background: $color-grey-dark;
                          }
                        & + label[for="categories-checkbox-1"]::after {content: '1';}
                        & + label[for="categories-checkbox-2"]::after {content: '2';}
                        & + label[for="categories-checkbox-3"]::after {content: '3';}
                        & + label[for="categories-checkbox-4"]::after {content: '4';}
                        & + label[for="categories-checkbox-5"]::after {content: '5';}
                        & + label[for="modal-categories-checkbox-1"]::after {content: '1';}
                        & + label[for="modal-categories-checkbox-2"]::after {content: '2';}
                        & + label[for="modal-categories-checkbox-3"]::after {content: '3';}
                        & + label[for="modal-categories-checkbox-4"]::after {content: '4';}
                        & + label[for="modal-categories-checkbox-5"]::after {content: '5';}
                        &:hover + label, &:checked + label {
                            color: $color-gold;
                        }
                        &:hover + label::after, &:checked + label::after {
                            background: $color-gold;
                          }
                    }
                }
                .container__products-filter__price {
                    width: 100%;
                    margin-bottom: 10px;
                    .ui-slider-horizontal {
                        height: 8px;
                        .ui-widget-header {
                            background: $color-grey-dark;
                        }
                        .ui-slider-handle {
                            width: 20px;
                            height: 20px;
                            border: 3px solid $color-gold;
                            border-radius: 50%;
                        }
                    }
                    .container__products-filter__price-filter {
                        margin-top: 24px;
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        input {
                            display: block;
                            text-align: center;
                            font-size: $font-size * 0.6;
                            height: 32px;
                            &[type="text"] {
                                width: 114px;
                                border: 1px solid $color-grey-thin;
                                color: $color-grey-light;
                            }
                            &[type="button"] {
                                width: 65px;
                                background: $color-gold;
                                color: white;
                                border-style: unset;
                            }

                        }
                    }
                }
                .container__products-filter__color {
                    width: 100%;
                    margin-bottom: 10px;
                    .container__products-filter__color-filter {
                        .styled-checkbox {
                            & + label {
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: center;
                                font-size: $font-size * 0.6;
                            }
                            & + label::before {
                                content: "";
                                display: flex;
                                font-size: $font-size * 0.4;
                                align-items: center;
                                justify-content: center;
                                width: 15px;
                                height: 15px;
                                border-radius: 3px;
                                color: white;
                                background: $color-grey-dark;
                                margin: 0 10px 0 0;
                              }
                            & + label[for="categories-checkbox-red"]::before {background: #fa5f66;}
                            & + label[for="categories-checkbox-black"]::before {background: #454545;}
                            & + label[for="categories-checkbox-yellow"]::before {background: #e9e600;}
                            & + label[for="categories-checkbox-blue"]::before {background: #0190d3;}
                            & + label[for="categories-checkbox-pink"]::before {background: #f72fe4;}
                            & + label[for="categories-checkbox-green"]::before {background: #14d400;}
                            & + label[for="modal-categories-checkbox-red"]::before {background: #fa5f66;}
                            & + label[for="modal-categories-checkbox-black"]::before {background: #454545;}
                            & + label[for="modal-categories-checkbox-yellow"]::before {background: #e9e600;}
                            & + label[for="modal-categories-checkbox-blue"]::before {background: #0190d3;}
                            & + label[for="modal-categories-checkbox-pink"]::before {background: #f72fe4;}
                            & + label[for="modal-categories-checkbox-green"]::before {background: #14d400;}
                            &:hover + label, &:checked + label {
                                color: $color-gold;
                            }
                            &:hover + label::before, &:checked + label::before {
                                content: '\2713';
                              }
                        }
                    }
                }
                .container__products-filter__size {
                    width: 100%;
                    margin-bottom: 10px;
                    .styled-checkbox {
                        & + label {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            font-size: $font-size * 0.6;
                            text-transform: uppercase;
                        }
                        & + label::after {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            color: white;
                            background: $color-grey-dark;
                            margin-left: auto;
                        }
                        & + label::before {
                            content: "";
                            display: flex;
                            font-size: $font-size * 0.4;
                            align-items: center;
                            justify-content: center;
                            width: 15px;
                            height: 15px;
                            border-radius: 3px;
                            color: white;
                            background: $color-grey-dark;
                            margin: 0 10px 0 0;
                        }
                        & + label[for="categories-checkbox-s"]::after {content: '1';}
                        & + label[for="categories-checkbox-m"]::after {content: '2';}
                        & + label[for="categories-checkbox-l"]::after {content: '3';}
                        & + label[for="categories-checkbox-xl"]::after {content: '4';}
                        & + label[for="categories-checkbox-xx"]::after {content: '5';}
                        & + label[for="modal-categories-checkbox-s"]::after {content: '1';}
                        & + label[for="modal-categories-checkbox-m"]::after {content: '2';}
                        & + label[for="modal-categories-checkbox-l"]::after {content: '3';}
                        & + label[for="modal-categories-checkbox-xl"]::after {content: '4';}
                        & + label[for="modal-categories-checkbox-xx"]::after {content: '5';}
                        &:hover + label, &:checked + label {
                            color: $color-gold;
                        }
                        &:hover + label::after, &:checked + label::after {
                            background: $color-gold;
                        }
                        &:hover + label::before, &:checked + label::before {
                            content: '\2713';
                        }
                    }
                }
                .container__products-filter__tags {
                    .container__products-filter__tags-filter ul{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        .styled-checkbox {
                            & + label {
                                padding: 11px;
                                margin-right: 16px;
                                margin-bottom: 12px;
                                color: $color-grey-light;
                                font-size: $font-size * 0.5;
                                border: 1px solid $color-grey-light;
                                i {
                                    margin-right: 9px;
                                }
                            }
                            &:hover + label, &:checked + label {
                                color: $color-gold;
                                border-color: $color-gold;
                            }
                        }
                    }
                }
                
            }
        }
        .container__products__load-more {
            margin: auto;
            padding: 5px 12.6px;
            background-color: $color-grey-thin;
            box-shadow: 0 5px 8px 3px $color-grey-lighter;
            font-size: $font-size * 1.3;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    .container__blog {
        .container__blog-title {
            padding: 12px 0;
            margin: 0 0 30px 0;
            color: $color-gold;
            font-size: $font-size * 0.75;
            border-bottom: 3px solid $color-grey-thin;
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 44px;
                bottom: -3px;
                left: 0;
                border-bottom: 3px solid $color-gold;
            }
        }
        .container__blog-carousel {
            .carousel-indicators {
                li {
                    width: 13px;
                    height: 13px;
                    border-radius: 100%;
                    background-color: $color-gold;
                    transition: background-color ;
                }
            }
            .carousel-inner {
                .carousel-item {
                    .card {
                        border-radius: unset;
                        .card-img-top {
                            border-radius: unset;
                            height: 290px;
                            object-fit: cover;
                        }
                        .card-img-overlay {
                            height: 300px;
                            .card-text {
                                font-size: $font-size * 0.5;
                                background-color: #ffffff;
                                div:nth-of-child(1) {
                                    text-align: left;
                                }
                                div:nth-of-child(2) {
                                    text-align: right;
                                }
                            }
                        }
                        .card-body {
                            .card-title {
                                font-size: $font-size * 0.6;
                                color: $color-grey-dark;
                                font-weight: 500;
                                transition: color 0.15s ease-in-out;
                            }
                            .card-text {
                                font-size: $font-size * 0.5;
                                color: $color-grey-light;
                                font-weight: 400;
                            }
                            .btn.btn-primary {

                                color: #ffffff;
                                font-weight: 500;
                                font-size: $font-size * 0.6;
                                background-color: $color-grey-dark;
                                cursor: pointer;
                                z-index: 1030;
                            }
                        }
                        &:hover > .card-body {
                            .card-title {
                                color: $color-gold;
                            }
                            .btn.btn-primary {
                                background-color: $color-gold;
                            }
                        }
                    }    
                }
            }
            .carousel-control-prev, .carousel-control-next {
                width: 30px;
                height: 30px;
                opacity: 1;
                border: 1px solid black;
                background-color: white;
                top: -40px;
            }
        }
        .container__blog-carousel-controls {
            top: -47px;
            right: 0;
            background: white;
            button {
                margin-left: 6px;;
                width: 30px;
                height: 30px;
                color: black;
                border: 1px solid black;
                background-color: white;
                &:hover {
                    color: white;
                    border: 1px solid transparent;
                    background-color: $color-gold;
                }
            }
        }
        .container__blog-carousel-controls__large {
            top: -38px;
            right: 0;
            background: white;
            list-style: none;
            padding-left: 12px;
            .container__blog-carousel-controls__to-slide {
                display: block;
                border: none;
                z-index: 1020;
                cursor: pointer;
                margin-left: 12px;
                width: 13px;
                height: 13px;
                background: $color-grey-thin;
                border-radius: 100%;
                &:hover {
                    background: $color-gold;
                }
                &.active {
                    background: $color-gold;
                }
            }
        }
    }
}
.newsletter {
    background: #f2f2f2;
    height: 119px;
    .newsletter-row {
        margin: 0;
        .newsletter-title {
            font-size: $font-size * 0.75;
            font-weight: 500;
            color: $color-gold;
        }
        form {
            .form-group {
                .newsletter-form-input {
                    height: 46px;
                    font-size: $font-size * 0.5;
                    &:focus {
                        box-shadow: none;
                    }
                }
                .newsletter-form-label {
                    left: 0;
                    .newsletter-form-label__content {
                        font-size: $font-size * 0.5;
                        z-index: 1010;
                        transition: opacity .06s;
                        color: #b4b4b4;
                        .fa-envelope {
                            color: $color-gold;
                        }
                    }
                }
                .btn.btn-light {
                    height: 46px;
                    width: 46px;
                    color: $color-gold;
                    font-size: $font-size * 0.5;
                    background-color: #ffffff;
                }
            }
        }
    }
}
footer {
    background: #363636;
    .container {
        padding-top: 16px;
        .footer__section-title {
            color: white;
            font-size: $font-size * 0.75;
            font-weight: 500;
            margin: 45px 0 35px 0;
        }
        ul {
            color: #a9a9a9;
            padding: 0;
            margin: 0;
            .footer__section-item {
                font-size: $font-size * 0.5;
                list-style: none;
                margin: 0 0 10px 0;
            }
        }
        .footer__payment-options {
            padding: 29px 0 56px 0;
            img {
                width: 40px;
                margin-right: 10px;
                margin-bottom: 14px;
            }
        }

    }
}
.copyright__info {
    padding: 41px 0;
    color: #a9a9a9;
    background: $color-grey-dark;
    font-size: $font-size * 0.5;
    .copyright__info-inner {
        .copyright__info-inner-socials {
            i {
                padding: 0 12px;
                &:hover {
                    color: $color-gold;
                }
            }
            
        }
    }
}

@media screen and (min-width: 1200px){
    main.container {
        .container__stocks {
            margin-bottom: 60px;
            flex-direction: row;
            .container__stocks-large {
                width: 50%;
                margin-right: 30px;
                .container__stocks__stock {
                    &.stock-1 {
                        height: $stock-large-height;
                    }
                }
            }
            .container__stocks-small {
                height: 420px;
                width: 50%;
                .container__stocks__stock {
                    &.stock-2, &.stock-3 {
                        height: 195px;
                    }
                    &.stock-2 {
                        background-position: -10% 65%, 103% 50%;
                    }
                    &.stock-3 {
                        background-position: -20% 50%;
                    }
                }
            }
        }
        #product_overview_window {
            .modal-dialog {
                .modal-content {
                    .product_overview-description {
                        .product_overview-description__overview {
                            padding-bottom: 21px;
                            border-bottom: 1px solid $color-grey-thin;
                        }
                        .product_overview-description__imho {
                            flex-direction: column;
                            padding-bottom: 18px;
                            border-bottom: 1px solid $color-grey-thin;
                        }
                    }
                }
            }
        }
        .container__products {
            .container__products-filter__mobile {
                display: none;
            }
            .container__products-filter {
                .container__products-filter-blocks {
                    width: 100%;
                    flex-direction: column;
                    flex-wrap: nowrap;
                }
            }
        }
    }
    .newsletter {
        .newsletter-row {
            margin: 0 195px;
        }
    }
    .copyright__info {
        .copyright__info-inner {
            justify-content: center;
            .copyright__info-inner-socials {
                position: absolute;
                right: 0;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    main.container {
        .container__stocks {
            flex-direction: column;
            margin-bottom: 37px;
            .container__stocks-large {
                margin-bottom: 30px;
                .container__stocks__stock {
                    &.stock-1 {
                        height: $stock-large-height;
                    }
                }
            }
            .container__stocks-small {
                height: 420px;
                .container__stocks__stock {
                    &.stock-2, &.stock-3 {
                        height: 195px;
                    }
                }
            }
        }
        .modal-dialog {
            max-width: 751px;
        }
        #product_overview_window {
            .product_overview__header {
                padding-bottom: 21px;
                border-bottom: 1px solid $color-grey-thin;
            
                .product_overview-image {
                    max-height: 286px;
                }
                .product_overview-description {
                    .product_overview-description__imho {
                        flex-direction: row;
                        justify-content: flex-start;
                        padding-bottom: 0;
                        border: none;
                        .product_overview-description__imho-smth {
                            margin-right: 12px;
                        }
                    }
                }
            }
            .product_overview__footer {
                .product_overview__social-networks__share {
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }
        .container__products {
            .container__products-filter__mobile {
                display: block;
            }
            .container__products-filter {
                display: none;
            }
            #filters_window {
                .container__products-filter-blocks {
                    padding: 33px 33px 25px 33px;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    .container__products-filter__categories, 
                    .container__products-filter__price,
                    .container__products-filter__color,
                    .container__products-filter__size,
                    .container__products-filter__tags {
                        width: 240px;
                    }
                }
            }
        }
    }
    .copyright__info {
        .copyright__info-inner {
            justify-content: space-between;
            .copyright__info-inner-socials {
                position: relative;
            }
        }
    }
}
@media screen and (max-width: 767px){
    main.container {
        .container__stocks {
            margin-bottom: 57px;
            flex-direction: column;
            .container__stocks-large {
                display: none;
            }
            .container__stocks-small {
                height: 300px;
                .container__stocks__stock {
                    &.stock-2, 
                    &.stock-3 {
                        height: 134px;
                    }
                    &.stock-2 {
                        .container__stocks__stock-description {
                            
                        }
                    }
                    &.stock-3 {
                        .container__stocks__stock-description {
                            border: 34px solid transparent;
                            .item-1 {
                                font-size: $font-size * 0.8;
                            }
                            .item-2 {
                                font-size: $font-size * 0.6;
                            }
                        }
                    }
                }
            }
        }
        
        .container__blog {
            .container__blog-carousel-controls {
                top: -47px;
                right: 0;
                background: white;
                button {
                    margin-left: 6px;;
                    width: 30px;
                    height: 30px;
                    color: black;
                    border: 1px solid black;
                    background-color: white;
                    &:hover {
                        color: white;
                        border: 1px solid transparent;
                        background-color: $color-gold;
                    }
                }
            }
        }
        .modal-dialog {
            max-width: 421px;
            margin: auto;
        }
        #product_overview_window {
            .product_overview__header {
                padding-bottom: 21px;
                border-bottom: 1px solid $color-grey-thin;
                .product_overview-description {
                    margin-top: 22px;
                    .product_overview-description__imho {
                        flex-direction: row;
                        justify-content: space-between;
                        padding-bottom: 0;
                        border: none;
                        .product_overview-description__imho-smth {
                            margin-right: 12px;
                        }
                    }
                }
            }
            .product_overview__footer {
                .product_overview__social-networks__share {
                    justify-content: center;
                    flex-wrap: wrap;
                    button:nth-of-child(3) {
                        flex-basis: 100%;
                    }
                }
            }
        }
        .container__products {
            .container__products-filter__mobile {
                display: block;
            }
            .container__products-filter {
                display: none;
            }
            #filters_window {
                .container__products-filter-blocks {
                    padding: 52px 0 33px 0;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    .container__products-filter__categories, 
                    .container__products-filter__price,
                    .container__products-filter__color,
                    .container__products-filter__size,
                    .container__products-filter__tags {
                        width: 230px;
                    }
                }
            }
        }
    }
    footer {
        .container {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    .copyright__info {
        .copyright__info-inner {
            flex-direction: column;
            align-items: center;
            .copyright__info-inner-socials {
                position: relative;
                margin-top: 20px;
            }
        }
    }
}